<!doctype html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="styles.css">

    <title>Skills-HTML-CSS</title>
</head>
<body>
<h1>Job Application Form</h1>
<h4>Submit the form below and find your dream job!</h4>

<form action="https://skills-html-css.com/application" method="get">

	
	<div>
		<!-- <div> -->

	<label>
	<!-- <label for="name">Name</label><br> -->
		First Name <input type="text" name="firstname"  class="input-box-color">	</label><br>
	<label id="bold-text">
		<br>
		Last Name <input type="text" name="lastname" class="input-box-color"></label><br>
		<br>
	<label>
		Salary Requirement:
		<input type="text" name="salary" class="input-box-color"></label><br>

	<label><br>
		Applying for:
		<select name="jobtitle">
			<option value="Software Engineer"> Software Engineer</option>
			<option value="QA Engineer"> QA Engineer</option>
			<option value="Product Manager">Product Manager</option>
	</label><br>


	<!-- how to place the submit search box in the next line. -->
	<br>
	<input type="submit">
	</div>
</form>
</body>
</html>